<h2>Add Course!!!</h2>

{{#if error}}
  <p>{{error}}</p>
{{/if}}

<form action="/add" method="POST">
 <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input type="text" name = 'title' id="autocomplete-input" class="autocomplete" placeholder="title" value={{data.title}}>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="input-field col s12">
         
          <input type="text" name = 'images' id="autocomplete-input" class="autocomplete" placeholder="logo" value={{data.images}}>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="input-field col s12">

          <input type="text" name = 'price' id="autocomplete-input" class="autocomplete" placeholder="price" value={{data.price}}>
        </div>
      </div>
    </div>
  </div>
  <input type="hidden" name="_csrf" value="{{csrf}}">


    <button class="btn">Submit</button>
</form>