<h1>Profile</h1>

{{#if user.avatarUrl}}
<div class="row">
  <div class="col s6">
    <img
      class="avatar"
      style="width:5rem;height:5rem"
      src="/{{user.avatarUrl}}"
      alt="avatar - {{user.name}}"
    />

    <p></p>
  </div>

  {{else}}
  <p>avatar is not fined</p>

  {{/if}}

  <div class="col s6">
    <form action="/profile" method="post" enctype="multipart/form-data">
    <p> Ваш email: {{user.email}}</p>
      <div class="row">
        <div class="col s12">
          <div class="row">
            <div class="input-field col s12">
                <p>Ваше имя: </p>
              <input
                type="text"
                name="name"
                id="name"
                class="autocomplete"
                placeholder="name"
                value={{user.name}}
              />
            </div>
          </div>
        </div>
      </div>

      <div class="file-field input-field">
      <div class="btn">
        <span>Avatar</span>
        <input type="file" name="avatar">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>

<input type="hidden" name="_csrf" value="{{csrf}}">

<button type="submit" class="btn">Изменить</button>

    </form>
  </div>
</div>